.map-controls {
  position: fixed;
  width: 48px;
  right: 16px;
  bottom: 50%;
  transform: translateY(-100%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 8;
  // background-color: #fff;
  // padding: 10px;
  // border-radius: 5px;
  // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  .zoom {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid rgba(7, 31, 43, 0.2);
    border-radius: 16px;
    box-shadow: 0 8px 16px 0 rgba(7, 31, 43, 0.12);


    button {
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .liener {
      width: 24px;
      height: 1px;
      background: rgba(7, 31, 43, 0.2);
    }
  }

  .user-locations {
    width: 48px;
    height: 48px;
    box-shadow: 0 8px 16px 0 rgba(48, 18, 7, 0.12);
    background: #fff;
    border: 1px solid rgba(7, 31, 43, 0.2);
    border-radius: 16px;
  }
}