.expandable-text {
  p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: rgba(33, 33, 33, 0.8);
    word-break: break-all;
  }

  button {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    color: #db3702;
  }
}