      label {
        display: flex;
        align-items: center;
        gap: 8px;

        .icon {
          background: rgba(219, 55, 2, 0.2);
          border-radius: 16px;
          width: 44px;
          height: 44px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .field {
          &.tel {
            border-bottom: 1px solid rgba(7, 31, 43, 0.2);
          }

          p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            color: rgba(33, 33, 33, 0.6);
          }

          input[type="text"],
          input[type="tel"] {
            outline: 0;
            border: 0;
            // padding: 16px;
            width: 100%;
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: #212121;
            padding: 8px 0;
          }

        }
      }